body{
    background-color: beige;
    display: flex;
    flex-direction: column;
}
header{
    height: 10vh;
    font-size: x-large;
}
img{
    max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
    height: auto;

}
div{
    display: flex;
justify-content: center;
align-items: center;
   flex-direction: column;
   text-align: center;
}
button{
    width: 150px;
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
}